*,
*::before,
*::before {
  box-sizing: border-box;
}

:root {
  --board-color: rgb(255, 255, 255);
}

.board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid {
  margin: 1rem;
}

.player-board {
  width: 400px;
  height: 400px;
  background-color: var(--board-color);
  border: 1px solid black;
}

.ai-board {
  width: 400px;
  height: 400px;
  background-color: var(--board-color);
  border: 1px solid black;
}
